<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <h4>変数の表示</h4>
        <!-- マスタッシュ(中括弧部分のみ置き換わる) -->
        <p> Hello World! {{ message }} </p>
        <h4>リストの表示</h4>
        <ol>
            <li v-for=" item in list "> {{ item }} </li>
        </ol>
        <h4>イベント</h4>
        <button v-on:click="click" >Click</button>
        <h4>フォーム入力と同期</h4>
        <p> {{ text.text }} </p>
        <input v-model="text">
        <h4>数字の同期</h4>
        <p>{{ number }}</p>
        <input v-model.number="number">
        <h4>条件分岐</h4>
        <p v-if="show"> "show"が”true”の時だけ表示 </p>
        <h4>トランジションとアニメーション</h4>
        <button v-on:click="show=!show">切り替え</button>
        <transition>
            <p v-if="show">HELLO VUE.JS!</p>
        </transition>
        <h4>データバインディング</h4>
        <p>{{ text.value }}</p>
        <p>{{ text.value.length }}</p>
        <p>{{ list[3] }}</p>
        <p>{{ list[num] }}</p>
        <h4>式と文の違い</h4>
        <!-- {{ var foo = message }} => エラー -->
        <p>{{ 1+1 }}</p>
        <h4>算出プロパティ</h4>
        <p>{{ message.length >= 10 ? '10文字以上' : '10文字以下' }}</p>
        <h4>フィルタ</h4>
        <p>{{ Math.round( 3.1418 ) }}</p>
        <h4>属性のデータバインド</h4>
        <!-- <input type="text" value="{{ message }}" > => エラー -->
        <p>省略なし: v-bind:value </p>
        <input type="text" v-bind:value="message" >
        <br>
        <p>省略あり: :value </p>
        <input type="text" :value="message" >
        <h4>データの更新</h4>
        <p>{{ count }}回クリックしました。</p>
        <button v-on:click="increment">カウントアップ</button>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>